In [1]:
import pandas as pd
import calendar

In [2]:
avocado_2015_to_2017 = pd.read_csv('datasets/avocado.csv' , index_col = 0)
avocado_2018 = pd.read_csv('datasets/2018-plu-total-hab-data.csv')
avocado_2019 = pd.read_csv('datasets/2019-plu-total-hab-data.csv')
avocado_2020 = pd.read_csv('datasets/2020-plu-total-hab-data.csv')

In [3]:
avocado_2015_to_2017.head(5)

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [4]:
avocado_2018.head(5)

,Geography,Timeframe,Current Year Week Ending,Type,ASP Current Year,Total Bulk and Bags Units,4046 Units,4225 Units,4770 Units,TotalBagged Units,SmlBagged Units,LrgBagged Units,X-LrgBagged Units
0,Albany,Weekly,2018-01-01 00:00:00,Conventional,1.47,113514.42,2622.70,101135.53,20.25,9735.94,5556.98,4178.96,0.00
1,Atlanta,Weekly,2018-01-01 00:00:00,Conventional,0.95,649352.59,341061.46,41818.27,961.18,265511.68,173990.02,88882.27,2639.39
2,Baltimore/Washington,Weekly,2018-01-01 00:00:00,Conventional,1.15,849487.62,66628.66,519460.20,4920.46,258478.30,245665.84,12812.46,0.00
3,Boise,Weekly,2018-01-01 00:00:00,Conventional,1.13,79646.97,38196.44,1706.22,6263.00,33481.31,28764.84,4676.67,39.80
4,Boston,Weekly,2018-01-01 00:00:00,Conventional,1.40,419696.59,9622.52,325398.02,2061.91,82614.14,65868.23,16745.91,0.00

In [5]:
avocado_2019.head(5)

,Geography,Timeframe,Current Year Week Ending,Type,ASP Current Year,Total Bulk and Bags Units,4046 Units,4225 Units,4770 Units,TotalBagged Units,SmlBagged Units,LrgBagged Units,X-LrgBagged Units
0,Total U.S.,Weekly,2019-01-07 00:00:00,Conventional,1.02,44749707.48,14377053.08,11890232.90,893721.10,17588700.40,12829493.40,4617813.55,141393.45
1,Albany,Weekly,2019-01-07 00:00:00,Conventional,1.07,129222.29,3789.30,112635.18,158.00,12639.81,8877.95,3761.86,0.00
2,Atlanta,Weekly,2019-01-07 00:00:00,Conventional,0.92,828971.15,388574.98,38902.85,3482.04,398011.28,299475.26,98477.41,58.61
3,Baltimore/Washington,Weekly,2019-01-07 00:00:00,Conventional,1.31,925391.38,102652.85,530128.43,8212.94,284397.16,263150.78,21233.05,13.33
4,Boise,Weekly,2019-01-07 00:00:00,Conventional,1.23,108261.98,43723.19,7085.86,14435.46,43017.47,23932.54,19049.95,34.98

In [6]:
avocado_2020.head(5)

,Geography,Timeframe,Current Year Week Ending,Type,ASP Current Year,Total Bulk and Bags Units,4046 Units,4225 Units,4770 Units,TotalBagged Units,SmlBagged Units,LrgBagged Units,X-LrgBagged Units
0,Albany,Weekly,2020-01-06 00:00:00,Conventional,0.92,185688.43,4038.61,163629.86,193.31,17826.65,7098.37,9384.95,1343.33
1,Atlanta,Weekly,2020-01-06 00:00:00,Conventional,0.89,812755.45,355460.73,37303.12,2905.78,417085.82,371318.63,45627.67,139.52
2,Baltimore/Washington,Weekly,2020-01-06 00:00:00,Conventional,1.13,1040583.36,120288.69,522244.65,6213.88,391836.14,239052.24,152663.90,120.00
3,Boise,Weekly,2020-01-06 00:00:00,Conventional,1.09,121921.10,35816.52,8749.59,1834.52,75520.47,39530.82,31962.59,4027.06
4,Boston,Weekly,2020-01-06 00:00:00,Conventional,1.18,762475.92,11242.17,494342.34,1486.19,255405.22,110420.12,144661.77,323.33

### Index problem finxing and data cleaning

In [7]:
avocado_2015_to_2017 = avocado_2015_to_2017.sort_values("Date")
avocado_2015_to_2017.reset_index(inplace=True)
del avocado_2015_to_2017['index']

In [8]:
avocado_2015_to_2017 = avocado_2015_to_2017[avocado_2015_to_2017.year != 2018]

In [9]:
avocado_2018.drop(['Timeframe'], inplace=True,  axis = 1)
avocado_2019.drop(['Timeframe'], inplace=True,  axis = 1)
avocado_2020.drop(['Timeframe'], inplace=True,  axis = 1)

### Renaming Columns

In [10]:
avocado_2015_to_2017.rename(columns = {'region':'Region' , 'type':'Type' , 'year':'Year'} , inplace = True)

In [11]:
avocado_2018.rename(columns = {'Geography':'Region', 'Current Year Week Ending':'Date', 'Type':'Type', 'ASP Current Year':'AveragePrice',
       'Total Bulk and Bags Units':'Total Volume', '4046 Units':'4046', '4225 Units':'4225',
       '4770 Units':'4770', 'TotalBagged Units':'Total Bags', 'SmlBagged Units':'Small Bags',
       'LrgBagged Units':'Large Bags', 'X-LrgBagged Units':'XLarge Bags'}, inplace = True)

In [12]:
avocado_2019.rename(columns = {'Geography':'Region', 'Current Year Week Ending':'Date', 'Type':'Type', 'ASP Current Year':'AveragePrice',
       'Total Bulk and Bags Units':'Total Volume', '4046 Units':'4046', '4225 Units':'4225',
       '4770 Units':'4770', 'TotalBagged Units':'Total Bags', 'SmlBagged Units':'Small Bags',
       'LrgBagged Units':'Large Bags', 'X-LrgBagged Units':'XLarge Bags'}, inplace = True)

In [13]:
avocado_2020.rename(columns = {'Geography':'Region', 'Current Year Week Ending':'Date', 'Type':'Type', 'ASP Current Year':'AveragePrice',
       'Total Bulk and Bags Units':'Total Volume', '4046 Units':'4046', '4225 Units':'4225',
       '4770 Units':'4770', 'TotalBagged Units':'Total Bags', 'SmlBagged Units':'Small Bags',
       'LrgBagged Units':'Large Bags', 'X-LrgBagged Units':'XLarge Bags'}, inplace = True)

### " Year " And " Month " columns adding

In [14]:
avocado_2015_to_2017['str_split'] = avocado_2015_to_2017.Date.str.split('-')
avocado_2015_to_2017['Month'] = avocado_2015_to_2017.str_split.str.get(1)
avocado_2015_to_2017.drop(['Date' , 'str_split'] , axis = 1 , inplace=True)

In [15]:
avocado_2015_to_2017.head()

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,Type,Year,Region,Month
0,1.75,27365.89,9307.34,3844.81,615.28,13598.46,13061.10,537.36,0.0,organic,2015,Southeast,01
1,1.49,17723.17,1189.35,15628.27,0.00,905.55,905.55,0.00,0.0,organic,2015,Chicago,01
2,1.68,2896.72,161.68,206.96,0.00,2528.08,2528.08,0.00,0.0,organic,2015,HarrisburgScranton,01
3,1.52,54956.80,3013.04,35456.88,1561.70,14925.18,11264.80,3660.38,0.0,conventional,2015,Pittsburgh,01
4,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.0,organic,2015,Boise,01

In [16]:
avocado_2018['str_split'] = avocado_2018.Date.str.split(' ')
avocado_2018['Date'] = avocado_2018.str_split.str.get(0)
avocado_2018['str_split'] = avocado_2018.Date.str.split('-')
avocado_2018['Year'] = avocado_2018.str_split.str.get(0)
avocado_2018['Month'] = avocado_2018.str_split.str.get(1)
avocado_2018.drop(['Date' , 'str_split'] , axis = 1 , inplace=True)

In [17]:
avocado_2018.head()

,Region,Type,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,Year,Month
0,Albany,Conventional,1.47,113514.42,2622.70,101135.53,20.25,9735.94,5556.98,4178.96,0.00,2018,01
1,Atlanta,Conventional,0.95,649352.59,341061.46,41818.27,961.18,265511.68,173990.02,88882.27,2639.39,2018,01
2,Baltimore/Washington,Conventional,1.15,849487.62,66628.66,519460.20,4920.46,258478.30,245665.84,12812.46,0.00,2018,01
3,Boise,Conventional,1.13,79646.97,38196.44,1706.22,6263.00,33481.31,28764.84,4676.67,39.80,2018,01
4,Boston,Conventional,1.40,419696.59,9622.52,325398.02,2061.91,82614.14,65868.23,16745.91,0.00,2018,01

In [18]:
avocado_2019['str_split'] = avocado_2019.Date.str.split(' ')
avocado_2019['Date'] = avocado_2019.str_split.str.get(0)
avocado_2019['str_split'] = avocado_2019.Date.str.split('-')
avocado_2019['Year'] = avocado_2019.str_split.str.get(0)
avocado_2019['Month'] = avocado_2019.str_split.str.get(1)
avocado_2019.drop(['Date' , 'str_split'] , axis = 1 , inplace=True)

In [19]:
avocado_2019.head()

,Region,Type,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,Year,Month
0,Total U.S.,Conventional,1.02,44749707.48,14377053.08,11890232.90,893721.10,17588700.40,12829493.40,4617813.55,141393.45,2019,01
1,Albany,Conventional,1.07,129222.29,3789.30,112635.18,158.00,12639.81,8877.95,3761.86,0.00,2019,01
2,Atlanta,Conventional,0.92,828971.15,388574.98,38902.85,3482.04,398011.28,299475.26,98477.41,58.61,2019,01
3,Baltimore/Washington,Conventional,1.31,925391.38,102652.85,530128.43,8212.94,284397.16,263150.78,21233.05,13.33,2019,01
4,Boise,Conventional,1.23,108261.98,43723.19,7085.86,14435.46,43017.47,23932.54,19049.95,34.98,2019,01

In [20]:
avocado_2020['str_split'] = avocado_2020.Date.str.split(' ')
avocado_2020['Date'] = avocado_2020.str_split.str.get(0)
avocado_2020['str_split'] = avocado_2020.Date.str.split('-')
avocado_2020['Year'] = avocado_2020.str_split.str.get(0)
avocado_2020['Month'] = avocado_2020.str_split.str.get(1)
avocado_2020.drop(['Date' , 'str_split'] , axis = 1 , inplace=True)

In [21]:
avocado_2020.head()

,Region,Type,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,Year,Month
0,Albany,Conventional,0.92,185688.43,4038.61,163629.86,193.31,17826.65,7098.37,9384.95,1343.33,2020,01
1,Atlanta,Conventional,0.89,812755.45,355460.73,37303.12,2905.78,417085.82,371318.63,45627.67,139.52,2020,01
2,Baltimore/Washington,Conventional,1.13,1040583.36,120288.69,522244.65,6213.88,391836.14,239052.24,152663.90,120.00,2020,01
3,Boise,Conventional,1.09,121921.10,35816.52,8749.59,1834.52,75520.47,39530.82,31962.59,4027.06,2020,01
4,Boston,Conventional,1.18,762475.92,11242.17,494342.34,1486.19,255405.22,110420.12,144661.77,323.33,2020,01

### " Year " And " Month " columns value casting

In [22]:
avocado_2015_to_2017['Month'] = avocado_2015_to_2017['Month'].astype('int64')

In [23]:
avocado_2015_to_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16953 entries, 0 to 16952
Data columns (total 13 columns):
AveragePrice    16953 non-null float64
Total Volume    16953 non-null float64
4046            16953 non-null float64
4225            16953 non-null float64
4770            16953 non-null float64
Total Bags      16953 non-null float64
Small Bags      16953 non-null float64
Large Bags      16953 non-null float64
XLarge Bags     16953 non-null float64
Type            16953 non-null object
Year            16953 non-null int64
Region          16953 non-null object
Month           16953 non-null int64
dtypes: float64(9), int64(2), object(2)
memory usage: 1.8+ MB

In [24]:
avocado_2018['Year'] = avocado_2018['Year'].astype('int64')
avocado_2018['Month'] = avocado_2018['Month'].astype('int64')

In [25]:
avocado_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5292 entries, 0 to 5291
Data columns (total 13 columns):
Region          5292 non-null object
Type            5292 non-null object
AveragePrice    5292 non-null float64
Total Volume    5292 non-null float64
4046            5292 non-null float64
4225            5292 non-null float64
4770            5292 non-null float64
Total Bags      5292 non-null float64
Small Bags      5292 non-null float64
Large Bags      5292 non-null float64
XLarge Bags     5292 non-null float64
Year            5292 non-null int64
Month           5292 non-null int64
dtypes: float64(9), int64(2), object(2)
memory usage: 537.5+ KB

In [26]:
avocado_2019['Year'] = avocado_2019['Year'].astype('int64')
avocado_2019['Month'] = avocado_2019['Month'].astype('int64')

In [27]:
avocado_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5616 entries, 0 to 5615
Data columns (total 13 columns):
Region          5616 non-null object
Type            5616 non-null object
AveragePrice    5616 non-null float64
Total Volume    5616 non-null float64
4046            5616 non-null float64
4225            5616 non-null float64
4770            5616 non-null float64
Total Bags      5616 non-null float64
Small Bags      5616 non-null float64
Large Bags      5616 non-null float64
XLarge Bags     5616 non-null float64
Year            5616 non-null int64
Month           5616 non-null int64
dtypes: float64(9), int64(2), object(2)
memory usage: 570.4+ KB

In [28]:
avocado_2020['Year'] = avocado_2020['Year'].astype('int64')
avocado_2020['Month'] = avocado_2020['Month'].astype('int64')

In [29]:
avocado_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 13 columns):
Region          1728 non-null object
Type            1728 non-null object
AveragePrice    1728 non-null float64
Total Volume    1728 non-null float64
4046            1728 non-null float64
4225            1728 non-null float64
4770            1728 non-null float64
Total Bags      1728 non-null float64
Small Bags      1728 non-null float64
Large Bags      1728 non-null float64
XLarge Bags     1728 non-null float64
Year            1728 non-null int64
Month           1728 non-null int64
dtypes: float64(9), int64(2), object(2)
memory usage: 175.6+ KB

In [30]:
avocado_2015_to_2017['Month'] = avocado_2015_to_2017['Month'].apply(lambda x: calendar.month_abbr[x])
avocado_2018['Month'] = avocado_2018['Month'].apply(lambda x: calendar.month_abbr[x])
avocado_2019['Month'] = avocado_2019['Month'].apply(lambda x: calendar.month_abbr[x])
avocado_2020['Month'] = avocado_2020['Month'].apply(lambda x: calendar.month_abbr[x])

### Fix " Type " column values

In [31]:
avocado_2015_to_2017['Type'].value_counts()

conventional    8478
organic         8475
Name: Type, dtype: int64

In [32]:
avocado_2015_to_2017['Type'] = avocado_2015_to_2017.Type.str.title()

In [33]:
avocado_2015_to_2017['Type'].value_counts()

Conventional    8478
Organic         8475
Name: Type, dtype: int64

In [34]:
# 2018 is correct
avocado_2018['Type'].value_counts()

Organic         2646
Conventional    2646
Name: Type, dtype: int64

In [35]:
avocado_2019['Type'].value_counts()

Organic          2808
Conventional     2160
Conventional      648
Name: Type, dtype: int64

In [36]:
avocado_2019['Type'] = avocado_2019.Type.str.replace(' ' , '')

In [37]:
avocado_2019['Type'].value_counts()

Organic         2808
Conventional    2808
Name: Type, dtype: int64

In [38]:
# 2020 is correct
avocado_2020['Type'].value_counts()

Organic          864
Conventional     864
Name: Type, dtype: int64

### Fix " Region " column value

In [39]:
avocado_2015_to_2017['Region'].unique()

array(['Southeast', 'Chicago', 'HarrisburgScranton', 'Pittsburgh',
       'Boise', 'WestTexNewMexico', 'LosAngeles', 'LasVegas', 'Atlanta',
       'DallasFtWorth', 'MiamiFtLauderdale', 'Plains', 'StLouis',
       'Syracuse', 'Midsouth', 'Sacramento', 'Boston', 'Charlotte',
       'Spokane', 'Albany', 'Houston', 'SouthCarolina', 'SanFrancisco',
       'TotalUS', 'RaleighGreensboro', 'BuffaloRochester',
       'NorthernNewEngland', 'GrandRapids', 'Denver', 'SanDiego',
       'BaltimoreWashington', 'Roanoke', 'RichmondNorfolk', 'Northeast',
       'SouthCentral', 'GreatLakes', 'Louisville', 'Seattle',
       'CincinnatiDayton', 'NewYork', 'NewOrleansMobile', 'Indianapolis',
       'Jacksonville', 'Columbus', 'Detroit', 'Philadelphia',
       'PhoenixTucson', 'Nashville', 'Portland', 'HartfordSpringfield',
       'Tampa', 'Orlando', 'West', 'California'], dtype=object)

In [40]:
avocado_2018['Region'].unique()

array(['Albany', 'Atlanta', 'Baltimore/Washington', 'Boise', 'Boston',
       'Buffalo/Rochester', 'California', 'Charlotte', 'Chicago',
       'Cincinnati/Dayton', 'Columbus', 'Dallas/Ft. Worth', 'Denver',
       'Detroit', 'Grand Rapids', 'Great Lakes', 'Harrisburg/Scranton',
       'Hartford/Springfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'Las Vegas', 'Los Angeles', 'Louisville', 'Miami/Ft. Lauderdale',
       'Midsouth', 'Nashville', 'New Orleans/Mobile', 'New York',
       'Northeast', 'Northern New England', 'Orlando', 'Philadelphia',
       'Phoenix/Tucson', 'Pittsburgh', 'Plains', 'Portland',
       'Raleigh/Greensboro', 'Richmond/Norfolk', 'Roanoke', 'Sacramento',
       'San Diego', 'San Francisco', 'Seattle', 'South Carolina',
       'South Central', 'Southeast', 'Spokane', 'St. Louis', 'Syracuse',
       'Tampa', 'West', 'West Tex/New Mexico', 'Total U.S.'], dtype=object)

In [41]:
avocado_2019['Region'].unique()

array(['Total U.S.', 'Albany', 'Atlanta', 'Baltimore/Washington', 'Boise',
       'Boston', 'Buffalo/Rochester', 'California', 'Charlotte',
       'Chicago', 'Cincinnati/Dayton', 'Columbus', 'Dallas/Ft. Worth',
       'Denver', 'Detroit', 'Grand Rapids', 'Great Lakes',
       'Harrisburg/Scranton', 'Hartford/Springfield', 'Houston',
       'Indianapolis', 'Jacksonville', 'Las Vegas', 'Los Angeles',
       'Louisville', 'Miami/Ft. Lauderdale', 'Midsouth', 'Nashville',
       'New Orleans/Mobile', 'New York', 'Northeast',
       'Northern New England', 'Orlando', 'Philadelphia',
       'Phoenix/Tucson', 'Pittsburgh', 'Plains', 'Portland',
       'Raleigh/Greensboro', 'Richmond/Norfolk', 'Roanoke', 'Sacramento',
       'San Diego', 'San Francisco', 'Seattle', 'South Carolina',
       'South Central', 'Southeast', 'Spokane', 'St. Louis', 'Syracuse',
       'Tampa', 'West', 'West Tex/New Mexico'], dtype=object)

In [42]:
avocado_2020['Region'].unique()

array(['Albany', 'Atlanta', 'Baltimore/Washington', 'Boise', 'Boston',
       'Buffalo/Rochester', 'California', 'Charlotte', 'Chicago',
       'Cincinnati/Dayton', 'Columbus', 'Dallas/Ft. Worth', 'Denver',
       'Detroit', 'Grand Rapids', 'Great Lakes', 'Harrisburg/Scranton',
       'Hartford/Springfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'Las Vegas', 'Los Angeles', 'Louisville', 'Miami/Ft. Lauderdale',
       'Midsouth', 'Nashville', 'New Orleans/Mobile', 'New York',
       'Northeast', 'Northern New England', 'Orlando', 'Philadelphia',
       'Phoenix/Tucson', 'Pittsburgh', 'Plains', 'Portland',
       'Raleigh/Greensboro', 'Richmond/Norfolk', 'Roanoke', 'Sacramento',
       'San Diego', 'San Francisco', 'Seattle', 'South Carolina',
       'South Central', 'Southeast', 'Spokane', 'St. Louis', 'Syracuse',
       'Tampa', 'Total U.S.', 'West', 'West Tex/New Mexico'], dtype=object)

In [43]:
avocado_2018['Region'] = avocado_2018.Region.str.replace(' ', '')
avocado_2018['Region'] = avocado_2018.Region.str.replace('/', '')
avocado_2018['Region'] = avocado_2018.Region.str.replace('.', '')

In [44]:
avocado_2019['Region'] = avocado_2019.Region.str.replace(' ', '')
avocado_2019['Region'] = avocado_2019.Region.str.replace('/', '')
avocado_2019['Region'] = avocado_2019.Region.str.replace('.', '')

In [45]:
avocado_2020['Region'] = avocado_2020.Region.str.replace(' ', '')
avocado_2020['Region'] = avocado_2020.Region.str.replace('/', '')
avocado_2020['Region'] = avocado_2020.Region.str.replace('.', '')

In [46]:
avocado_2015_to_2017['Region'].unique()

array(['Southeast', 'Chicago', 'HarrisburgScranton', 'Pittsburgh',
       'Boise', 'WestTexNewMexico', 'LosAngeles', 'LasVegas', 'Atlanta',
       'DallasFtWorth', 'MiamiFtLauderdale', 'Plains', 'StLouis',
       'Syracuse', 'Midsouth', 'Sacramento', 'Boston', 'Charlotte',
       'Spokane', 'Albany', 'Houston', 'SouthCarolina', 'SanFrancisco',
       'TotalUS', 'RaleighGreensboro', 'BuffaloRochester',
       'NorthernNewEngland', 'GrandRapids', 'Denver', 'SanDiego',
       'BaltimoreWashington', 'Roanoke', 'RichmondNorfolk', 'Northeast',
       'SouthCentral', 'GreatLakes', 'Louisville', 'Seattle',
       'CincinnatiDayton', 'NewYork', 'NewOrleansMobile', 'Indianapolis',
       'Jacksonville', 'Columbus', 'Detroit', 'Philadelphia',
       'PhoenixTucson', 'Nashville', 'Portland', 'HartfordSpringfield',
       'Tampa', 'Orlando', 'West', 'California'], dtype=object)

In [47]:
avocado_2018['Region'].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'West', 'WestTexNewMexico', 'TotalUS'], dtype=object)

In [48]:
avocado_2019['Region'].unique()

array(['TotalUS', 'Albany', 'Atlanta', 'BaltimoreWashington', 'Boise',
       'Boston', 'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'West', 'WestTexNewMexico'], dtype=object)

In [49]:
avocado_2020['Region'].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

### Concat 4 dataframe together

In [50]:
frames = [avocado_2015_to_2017, avocado_2018, avocado_2019 , avocado_2020]

In [51]:
avocado_2015_to_2020 = pd.concat(frames , sort = False)

In [52]:
avocado_2015_to_2020.reset_index(inplace=True)
avocado_2015_to_2020.drop(['index'] , axis = 1, inplace=True)

In [53]:
avocado_2015_to_2020['Type'] = avocado_2015_to_2020.Type.str.replace(' ' , '')

### Convert dataframe to CSV

In [54]:
avocado_2015_to_2020.to_csv('datasets/avocado_2015_to_2020.csv' , index = False)